name: Publishing the action to the marketplace

on:   
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

  workflow_dispatch:
    
# Declare default GITHUB_TOKEN permissions as read only.
permissions: read-all
    
jobs:
  test-local-action:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2

      - name: Run from main.js
        id: tag_dev
        run: |
          GITHUB_REF=node main.js && false || true
          GITHUB_REF=origin/refs/tag/v1 node main.js && false || true
          GITHUB_REF=refs/tag/v1 node main.js && false || true
          GITHUB_REF=refs/heads/main node main.js && false || true
          GITHUB_REF=refs/tags/v1.0.0 node main.js
          
      - name: Test dev
        run: |
          test "v1.0.0" = "${{steps.tag_dev.outputs.tag}}"
          
      - name: Run dev with strip v
        id: tag_dev_strip_v
        run: GITHUB_REF=refs/tags/v1.0.0 INPUT_STRIP_V=true node main.js
        
      - name: Test dev with strip v
        run: |
          test "1.0.0" = "${{steps.tag_dev_strip_v.outputs.tag}}"
          
      - name: Run from action.yml
        id: tag_prod
        if: startsWith(github.ref, 'refs/tags') == true
        uses: ./
        
      - name: Test output from action.yml
        if: startsWith(github.ref, 'refs/tags') == true
        run: |
          test -n "${{steps.tag_prod.outputs.tag}}"
    
  publish:
    needs: test-local-action
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      
      - name: Get tag value
        id: tag
        uses: devops-actions/action-get-tag@4e13c4ea459efa2988a10d5ff0f252bb097929ef # v1
        
      - name: Use tag
        run: echo ${{ steps.tag.outputs.tag }}

      - uses: actions/create-release@0cb9c9b65d5d1901c1f53e5e66eaf4afd303e70e # v1.1.4
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
          body: |
            Release ${{ github.ref }} is available now

      # todo: figure out how this works with an action :-)
      #- uses: actions/publish-release-asset@v2
        #with:
          #upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
          #asset_path: ./my-artifact.zip
          #asset_name: my-artifact.zip
          #asset_content_type: application/zip
