name: Repo SemVer check
on:
  push:
    tags:
      - '*'
  workflow_dispatch:
  
permissions:
  contents: read

jobs:
  semver:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
        with:
          fetch-depth: 0 # needed to get all tags
      
      - uses: jessehouwing/actions-semver-checker@05fccd40824d7367e4b990273c1c6c535c9b0b13 # v1
